<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue test</title>
    <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
</head>

<body>
   
    <div id="app-6">
        <p>
            {{ message }}
        </p>
        <input v-model="message">
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div id="app">
        <p>{{ message }}</p>
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>
    <div id="example">
        <p>Original message: "{{ message }}"</p>
        <p>Computed reversed message: "{{ reversedMessage }}"</p>
    </div>
    <div id="demo">{{ fullName }}</div>
    <script>
        var vm1 = new Vue({
            el: '#demo',
            data: {
                firstName: 'Foo',
                lastName: 'Bar'
            },
            computed: {
                fullName: {
                    get: function () {
                        return this.firstName + ' ' + this.lastName
                    },
                    set: function (newValue) {
                        var names = newValue.split(' ')
                        this.firstName = names[0]
                        this.lastName = names[name.length - 1]
                    }
                }
            }
        })
    </script>
    <script>
        var vm = new Vue({
            el: '#example',
            data: {
                message: 'Hello'
            },
            computed: {
                reversedMessage: function () {
                    return this.message.split('').reverse().join('')
                }
            }
        })
    </script>
    <script>
        var app6 = new Vue({
            el: "#app-6",
            data: {
                message: 'Hello, app-6!'
            }
        })
        new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue.js!'
            }
        })

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'you load this page on' + new Date().toLocaleDateString()
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [{
                        text: 'Learn JavaScript'
                    },
                    {
                        text: 'Learn Vue'
                    },
                    {
                        text: 'Build something awesome'
                    }
                ]
            }
        })
    </script>
</body>

</html>