<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <label>Id:
            <input type="text" v-model="id">
        </label>
        <label for="">Name:
            <input type="text" v-model="name">
        </label>
        <input type="button" value="add" @click="add">
        <p v-for="item in list" :key="item.id">
            <input type="checkbox" name="" id="">{{ item.id }} --- {{ item.name}}
        </p>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                list: [{
                        id: 1,
                        name: 'one'
                    },
                    {
                        id: 2,
                        name: 'two'
                    },
                    {
                        id: 3,
                        name: 'three'
                    },
                    {
                        id: 4,
                        name: 'four'
                    }
                ]
            },
            methods: {
                add() {
                    this.list.unshift({
                        //or push
                        id: this.id,
                        name: this.name
                    })
                }
            }

        })
    </script>
</body>

</html>